{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %} {{activity.reference_number}} {% endblock title %}
{% block content %}

<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    body {font-family: "Roboto", sans-serif; background-color: #f3f6f4;}
  </style>
</head>














<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'list.css' %}">
</head>




{% endblock content %}
</html>