{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %} {{activity.reference_number}} {% endblock title %}
{% block content %}

<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    body {font-family: "Roboto", sans-serif; background-color: #f3f6f4;}
  </style>
</head>


<h1 class="w3-tag w3-teal w3-round">WPL0{{ activity.reference_number}}</h1>

<div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom w3-margin-top w3-margin-left">
        <div class="w3-container">
          <h4 class="card-title">WPL Lead: {{activity.WPL_lead}}</h4>
          <h4 class="card-title">Date Logged: {{ activity.date_logged}}</h4>
          <h4 class="card-title">Trust: {{ activity.trust}}</h4>
          <h4 class="card-title">Project Title: {{ activity.project_title}}</h4>
          <h4 class="card-title">Project Type: {{ activity.project_type}}</h4>
          <h4 class="card-title">Supplier: {{ activity.supplier}}</h4>
          <hr>
        <a href="{% url 'activity_list' %}" class="btn btn-primary btn-sm w3-margin-bottom">Back to Activity Log</a>
        <a href="{% url 'activity_update' activity.pk %}" class="btn btn-primary btn-sm w3-margin-bottom">Edit</a>
      </div>
      </div>

</div>

<div class="w3-twothird">

      {% for item in CPWs %}

      <div class="w3-container w3-card w3-white w3-margin-bottom w3-margin-top w3-margin-left">
        <div class="w3-container">
          <h4 class="card-title">Trust: {{ item.trust }}</h4>
          <h4 class="card-title">Project Title: {{ item.project_title }}</h4>
          <h4 class="card-title">Date added to CPW Log: {{ item.date_added_to_cpw}}</h4>
          <h4 class="card-title">CPW Rationale: {{ item.cpw_rationale}}</h4>
          <h4 class="card-title">Supplier: {{ item.supplier}}</h4>
          <h4 class="card-title">CPW Total Value: £{{ item.total_cpw_value}}</h4>
          <h4 class="card-title">Division: {{ item.division}}</h4>
          <h4 class="card-title">Department: {{ item.department}}</h4>
          <h4 class="card-title">Most Senior Approval Received By: {{ item.most_senior_approval_received_by}}</h4>
          <h4 class="card-title">Date Final Approval Received By: {{ item.date_final_approval_received}}</h4>
          <h4 class="card-title">One Off Purchase?: {{ item.one_off_purchase}}</h4>
          <h4 class="card-title">Contract Term: {{ item.contract_term}}</h4>
          <hr>
            <a href="{% url 'cpw_list' %}" class="btn btn-primary btn-sm w3-margin-bottom">Back to CPW Log</a>
            <a href="{% url 'cpw_update' item.pk %}" class="btn btn-primary btn-sm w3-margin-bottom">Edit</a>
          </div>
      </div>

      {% endfor %}

</div>


<div class="w3-twothird">

      {% for item in contracts %}

      <div class="w3-container w3-card w3-white w3-margin-bottom w3-margin-top w3-margin-left">
        <div class="w3-container">
          <h4 class="card-title">Trust: {{ item.trust }}
          <h4 class="card-title">WPL Category Area: {{ item.WPL_category_area}}</h4>
          <h4 class="card-title">Subcategory: {{ item.sub_category}}</h4>
          <h4 class="card-title">Project Title: {{ item.project_title}}</h4>
          <h4 class="card-title">Description: {{ item.description}}</h4>
          <h4 class="card-title">Division: {{ item.division}}</h4>
          <h4 class="card-title">Route to Market: {{ item.route_to_market}}</h4>
          <h4 class="card-title">Department: {{ item.department}}</h4>
          <h4 class="card-title">Agreement Type: {{ item.agreement_type}}</h4>
          <h4 class="card-title">Personal Info?: {{ item.personal_info}}</h4>
          <h4 class="card-title">Contract Value: £{{ item.contract_value}}</h4>
          <h4 class="card-title">Contract Term: {{ item.contract_term}}</h4>
          <h4 class="card-title">Supplier: {{ item.supplier}}</h4>
          <h4 class="card-title">Contract Start Date: {{ item.contract_start}}</h4>
          <h4 class="card-title">Extension Available: {{ item.extension}}</h4>
          <h4 class="card-title">Extension Months: {{ item.extension_months}}</h4>
          <h4 class="card-title">Notice Required: {{ item.notice}}</h4>
          <h4 class="card-title">Notice Days Required: {{ item.notice_days}}</h4>
          <h4 class="card-title">Contract Available?: {{ item.contract_available}}</h4>
          <h4 class="card-title">Indexation Clause: {{ item.indexation_clause}}</h4>
          <h4 class="card-title">WPL_Lead: {{ item.WPL_lead}}</h4>
          <hr>
        <a href="{% url 'contracts_list' %}" class="btn btn-primary btn-sm w3-margin-bottom">Back to Contracts Register</a>
        <a href="{% url 'contract_update' item.pk %}" class="btn btn-primary btn-sm w3-margin-bottom">Edit</a>
        </div>
      </div>

      {% endfor %}

</div>

<div class="w3-twothird">

      {% for item in pipeline %}

      <div class="w3-container w3-card w3-white w3-margin-bottom w3-margin-top w3-margin-left">
        <div class="w3-container">
          <h4 class="card-title">WPL Lead: {{ item.wpl_lead }}
          <h4 class="card-title">Trust: {{ item.trust}}</h4>
          <h4 class="card-title">Date Registered: {{ item.date_registered}}</h4>
          <h4 class="card-title">Division: {{ item.division}}</h4>
          <h4 class="card-title">Department: {{ item.department}}</h4>
          <h4 class="card-title">Stakeholder Lead: {{ item.stakeholder_lead}}</h4>
          <h4 class="card-title">Date Stakeholder Engaged: {{ item.date_stakeholder_engaged}}</h4>
          <h4 class="card-title">Project Title: {{ item.project_title}}</h4>
          <h4 class="card-title">Category: {{ item.category}}</h4>
          <h4 class="card-title">Current Supplier: {{ item.current_supplier}}</h4>
          <h4 class="card-title">Collaboration Programme: {{ item.coll_prog}}</h4>
          <h4 class="card-title">Green Programme: {{ item.green}}</h4>
          <h4 class="card-title">Strategy: {{ item.strategy}}</h4>
          <h4 class="card-title">QIA Complete?: {{ item.QIA}}</h4>
          <h4 class="card-title">Previous FY Spend (Inc. VAT): {{ item.previous_FY_spend}}</h4>
          <h4 class="card-title">New Spend (Inc. VAT): {{ item.new_spend}}</h4>
          <h4 class="card-title">FYE CIP Opportunity (Inc. VAT): {{ item.FYE_CIP}}</h4>
          <h4 class="card-title">Market Engagament Status: {{ item.market_engagement}}</h4>
          <h4 class="card-title">WPL/Trust Engagement Status: {{ item.wpl_engagement_status}}</h4>
          <h4 class="card-title">WPL Lead Status: {{ item.wpl_lead_status_update}}</h4>
          <h4 class="card-title">FY Impacting: {{ item.FY_impacting}}</h4>
          <h4 class="card-title">Last Updated Date: {{ item.last_updated_date}}</h4>
          <h4 class="card-title">Notes: {{ item.notes}}</h4>
          <hr>
        <a href="{% url 'pipeline_list' %}" class="btn btn-primary btn-sm w3-margin-bottom">Back to Opportunity Pipeline</a>
        <a href="{% url 'pipeline_update' item.pk %}" class="btn btn-primary btn-sm w3-margin-bottom">Edit</a>
        </div>
      </div>

      {% endfor %}

</div>



<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'list.css' %}">
</head>

{% endblock content %}
</html>
